<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - EcoMind</title>
    <link rel="stylesheet" href="style/registrar.css">
</head>
<body>
    <header>
        <img src="/img/logo login.png" alt="logo" height= "53">
        <h1>EcoMind</h1>
        <a href="/" class="Voltar">Voltar</a>
    </header>
    <main>
        <div class="login-container">
        <div class="logo">
            <img src="img/Icon.png" alt="Login Icon">
        </div>
        <h2>Faça login com o email:</h2>
        <form action="/login" method="POST">
            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="password" id="senha" name="senha" placeholder="Senha" required>
            <button type="submit"> Entrar </button>
        </form>
        <p>Ainda não tem uma conta?</p> 
        <a href="/register">Crie uma</a>
    </div>
    </main>

</body>
</html>